<section class="container-section">
  <div class="green-bronze">
    <h4 class="section-header">New watches</h4>
    <h2 class="main-title-green">Green And Bronze—The Match Made In Heaven</h2>

    <div class="presentation-picture">
      <img
        class="sliding new-watches"
        src="./images/hand-green-mobile.jpg"
        alt="watch"
      />

      <img
        class="sliding new-watches"
        src="./images/green-watch.png"
        alt="green-watch"
      />
    </div>
  </div>

  
  
</section>
<section class="container-section-sale">
  <div class="sale-title">
    <h2 class="main-title-sale">Sale</h2>
  </div>
  <div class="sale-container">
    <div class="sale-gallery">
      <div class="foto-gallery">
        <div class="image-gallery">
          <img src="./images/image 69.png" alt="first-image">
          <img src="./images/image 70.png" alt="second-image">
          <img src="./images/image 71.png" alt="thirth-image">
          <img src="./images/image 72.png" alt="forth-image">
        </div>
        <div class="big-watch-sale">
          <img src="./images/big-plan.png" alt="big-pic">
        </div>
      </div>
    </div>
    <div class="details-container">
      <div class="watch-name-sale">
        <h3>Greenlane Watch By Police
          <br>
          For MenHT
        </h3>
        <p>Product tag: PEWJK2227003</p>
      </div>
      <div class="sale-price">
        <h4 class="price-discount">€700</h4>
        <p class="befor-discount">€1000</p>
      </div>
      <div class="sale-description">
        <hr class="description-first">
        <h4>Description</h4>
        <p>Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction design
        that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The timepiece
        exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
      </div>
      <div class="details-sale">
        <hr class="description-line">
        <h4>DETAILS & FEATUREStion</h4>
        <p>Gender: man </p>
        <p>Size: 46x54.5mm</p>
        <p>Case Colour: Steel</p>
        <p>Band Material: Metal</p>
        <p>Case Material: Metal</p>
        <p>Features: Multifunction</p>
        <p>Water Resistant: 5 (ATM)</p>
        <p>Band Colour: Steel</p>
      </div>
    </div>
  </div>
</section>
